#root{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  height: 100vh;
  width: 100vw  ;
}
.arcContainer {
  top: 0;
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.arc {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(100px); /* Move o arco para baixo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.arcItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center left;
  transition: transform 0.5s ease, scale 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.arcItem.active {
  scale: 1.1;
  z-index: 10;
}

.centerContainer {
  text-align: center;
  margin-top: 2rem;
}
